doctype html
html(lang="en")
head
  title= "Item Details"
body
  h1 You are viewing item #{name} from template with price #{price}
//-   p The date on this task is #{date}
  //- p #{user} is responsible for this
